@import './fonts-and-colors.scss';

.arak {
    .head-section {
        background-image: url('../img/arak2a.jpg');
        background-position: center !important;
    }

    .scroll-links {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;

        a {
            padding: 0.5rem;
            text-align: center;

            img {
                height: 80px;
            }

            h3 {
                margin-top: 1rem;
            }

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        //max-width: 900px;
        margin-bottom: 20px;

        caption {
            padding: 1rem 1rem 2rem;
            text-transform: uppercase;
        }

        tbody {
            tr {
                &:not(tr:first-child) {
                    border-top: 1px solid rgb(204, 204, 204);
                }

                td {
                    p {
                        margin-top: 0.5rem;
                    }
                }
            }

            .price {
                font-weight: 600;
                color: rgb(80, 80, 80);
                text-align: right;
                width: 8rem;
                padding-right: 1rem;
            }
        }
    }

    /* Style the table headers */
    th {
        background-color: rgba(242, 242, 242, 0.8);
        text-align: left;
        padding: 10px;
    }

    /* Style the table rows */
    td {
        padding: 10px;
    }
}