@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=EB+Garamond:wght@400;500&family=Ubuntu:wght@300;400&display=swap');
/*
font-family: 'Cardo', serif;
font-family: 'EB Garamond', serif;
font-family: 'Ubuntu', sans-serif;
$orange: rgb(255, 165, 0);
$navy: rgb(0, 0, 128);
*/

$green: rgb(117, 189, 128);
$greenGlass10: rgba(117, 189, 128, 10%);
$greenGlass20: rgba(117, 189, 128, 20%);
$greenGlass30: rgba(117, 189, 128, 30%);
$greenGlass40: rgba(117, 189, 128, 40%);
$greenGlass50: rgb(186, 222, 191);

$blue: rgb(63, 97, 170);

$backgroundColor: rgb(234, 241, 255);

$primary-font-color: rgb(80, 80, 80);
$secondary-font-color: rgb(100, 100, 100);

$box-font-color: white;

$hover-color: black;