@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=EB+Garamond:wght@400;500&family=Ubuntu:wght@300;400&display=swap");
/*
font-family: 'Cardo', serif;
font-family: 'EB Garamond', serif;
font-family: 'Ubuntu', sans-serif;
$orange: rgb(255, 165, 0);
$navy: rgb(0, 0, 128);
*/
.magamrol .head-section {
  background-image: url("../img/magamrol/main.png");
  background-position: left;
  background-position-y: -100px !important;
  background-position-x: -100px !important;
  background-size: 1000px !important;
  display: flex;
  justify-content: flex-end;
}
.magamrol .head-section .box {
  width: 50%;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0)) !important;
  box-shadow: -30px 0 30px rgba(255, 255, 255, 0.6) !important;
  box-shadow: none !important;
}
.magamrol .head-section .box h1 {
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  font-family: "EB Garamond", serif;
  margin: 0 !important;
}
.magamrol .section .content-container .box .title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.magamrol .section .content-container .box article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.magamrol .section .content-container .box article:not(article:last-child) {
  margin-bottom: 4rem;
}
.magamrol .section .content-container .box article h2 {
  text-align: center;
  margin-bottom: 2rem;
  max-width: 600px;
}
.magamrol .section .content-container .box article p {
  max-width: 1200px;
  text-align: center;
}
.magamrol .section .content-container .cert-slider .wrapper img {
  width: 100%;
}
.magamrol .section .content-container #certs {
  max-width: 1000px;
}
@media screen and (max-width: 1500px) {
  .magamrol .head-section {
    background-position-x: -200px !important;
  }
}
@media screen and (max-width: 1200px) {
  .magamrol .head-section {
    background-size: 800px !important;
    background-position-y: -50px !important;
  }
  .magamrol .head-section .box h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .magamrol .head-section {
    background-size: 600px !important;
    background-position-y: -50px !important;
    background-position-x: -200px !important;
  }
  .magamrol .section .content-container .box .title {
    font-size: 2.25rem !important;
    margin-bottom: 1.5rem;
  }
  .magamrol .section .content-container .box article {
    margin-bottom: 2rem !important;
  }
  .magamrol .section .content-container .box article h2 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem !important;
  }
  .magamrol .section .content-container .box .wrapper h3 {
    margin-bottom: 2rem;
  }
  .magamrol .slick-dots {
    margin: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .magamrol .head-section .box {
    justify-content: flex-end;
  }
  .magamrol .head-section .box h1 {
    font-size: 1.1rem;
    color: unset;
  }
}
@media screen and (max-width: 480px) {
  .magamrol .head-section {
    background-size: 500px !important;
    background-position-y: -20px !important;
    background-position-x: -200px !important;
  }
  .magamrol .section .content-container .box article p,
  .magamrol .section .content-container .box article h2 {
    text-align: unset;
  }
}
@media screen and (max-width: 430px) {
  .magamrol .head-section .box h1 {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 350px) {
  .magamrol .head-section .box h1 {
    font-size: 0.9rem !important;
  }
}/*# sourceMappingURL=magamrol.css.map */