@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=EB+Garamond:wght@400;500&family=Ubuntu:wght@300;400&display=swap");
/*
font-family: 'Cardo', serif;
font-family: 'EB Garamond', serif;
font-family: 'Ubuntu', sans-serif;
$orange: rgb(255, 165, 0);
$navy: rgb(0, 0, 128);
*/
.szolgaltatasok .head-section {
  background-image: url("../img/szolgaltatasok/main.jpg");
  background-position: top !important;
}
.szolgaltatasok .detail-container {
  position: fixed;
  z-index: 1100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(200, 200, 200);
  max-width: 1000px;
  width: 80%;
  height: 60%;
  transition: opacity 150ms ease-in-out;
}
.szolgaltatasok .detail-container .head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  background-color: rgb(117, 189, 128);
}
.szolgaltatasok .detail-container .head-box h3 {
  color: white;
}
.szolgaltatasok .detail-container .head-box #close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: rgb(80, 80, 80);
  color: white;
}
.szolgaltatasok .detail-container .head-box #close-icon:hover {
  background-color: red;
  color: white;
}
.szolgaltatasok .detail-container .detail-box {
  height: calc(100% - 2.5rem);
  overflow: auto;
  scrollbar-width: thin;
  background-color: white;
  /* For Firefox (recent versions) */
  /* Define the styling for the scrollbar track in WebKit-based browsers */
  /* Define the styling for the scrollbar thumb in WebKit-based browsers */
  /* Define the styling for the scrollbar thumb on hover in WebKit-based browsers */
  /* Define the styling for the scrollbar track in WebKit-based browsers */
}
.szolgaltatasok .detail-container .detail-box::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width as needed */
}
.szolgaltatasok .detail-container .detail-box::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the thumb */
  border-radius: 5px;
  /* Rounded corners */
}
.szolgaltatasok .detail-container .detail-box::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color on hover */
}
.szolgaltatasok .detail-container .detail-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
  border-radius: 5px;
  /* Rounded corners */
}
.szolgaltatasok .detail-container .detail-box h2,
.szolgaltatasok .detail-container .detail-box h3,
.szolgaltatasok .detail-container .detail-box p,
.szolgaltatasok .detail-container .detail-box ul {
  padding: 1rem;
}
.szolgaltatasok .detail-container .detail-box ul li {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1.15rem;
}
.szolgaltatasok .section .content-container h2 {
  margin-bottom: 2rem;
}
.szolgaltatasok .section .content-container .box .div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.szolgaltatasok .section .content-container .box .div1 img {
  width: 50%;
  margin: 1rem;
}
.szolgaltatasok .section .content-container .box .div1 .div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2rem;
}
.szolgaltatasok .section .content-container .box .div1 .div2 .div3 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  max-width: 350px;
}
.szolgaltatasok .section .content-container .box .div1 .div2 .div3 h3 {
  transition: all 150ms ease-in-out;
}
.szolgaltatasok .section .content-container .box .div1 .div2 .div3 span {
  margin-left: 2rem;
}
.szolgaltatasok .section .content-container .box .div1 .div2 .div3:hover {
  background-color: rgb(63, 97, 170);
  color: white;
}
.szolgaltatasok .section .content-container .box .div1 .div2 .div3:hover h3 {
  color: white;
}
.szolgaltatasok .section:nth-child(2n) .content-container .box .div1 .div2 .div3:hover {
  background-color: rgb(117, 189, 128);
}
@media screen and (max-width: 1050px) {
  .szolgaltatasok .content-container .box {
    width: 100% !important;
  }
  .szolgaltatasok .content-container .box .div1 img,
  .szolgaltatasok .content-container .box .div1 .div2 {
    margin: 0 !important;
  }
  .szolgaltatasok .section:nth-child(2n) .div1 img {
    margin-right: 1rem !important;
  }
  .szolgaltatasok .section:nth-child(2n+1) .div1 img {
    margin-left: 1rem !important;
  }
}
@media screen and (max-width: 1050px) and (max-width: 768px) {
  .szolgaltatasok .detail-container {
    width: 90%;
  }
  .szolgaltatasok .content-container .box .div1 img {
    display: none;
  }
}/*# sourceMappingURL=szolgaltatasok.css.map */